<%- include('header') -%>

<div class="error">
  <div class="error__grid">
    <div class="error__row">
      <div class="error__col">
        <h1 class="error__header"><%= title %></h1>
        <p class="error__text"><%= error %></p>
        <a class="error__back" href="/">Til baka</a>
      </div>
    </div>
  </div>
</div>

<%- include('footer') -%>
