<!DOCTYPE html>
<html lang="is">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Undirskriftalisti</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
