@import './config';

.form {
  &__grid {
    @include grid();
  }

  &__row {
    @include row();
  }

  &__col {
    @include columns(12);
  }

  &__form {
    align-items: center;
    display: table;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
  }

  &__fieldset {
    border: 0;
  }

  &__legend {
    display: table-caption;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $gutter;
  }

  &__label {
    flex: 0 1 ($gutter * 7);
  }

  &__input {
    border: 1px solid #bfbf8f;
    border-radius: 3px;
    flex: 1;
    font-family: $font-main;
    font-size: 1rem;
    padding: ($gutter * 0.25);
  }

  &__input--invalid {
    background-color: #fbb;
  }

  &__checkboxfield {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $gutter;
  }

  &__checkbox {
    margin-right: 0.5rem;
    transform: scale(1.5);
  }

  &__errors {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__errortitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__submit {
    display: flex;
    justify-content: center;
    margin-top: $gutter;
  }

  &__button {
    background-color: #fff;
    border: 1px solid #bfbf8f;
    border-radius: 6px;
    font-family: $font-main;
    font-size: 2rem;
    padding: 0.5rem 2rem;
  }

  &__button:hover {
    background-color: #9ea354;
  }

  &__seperator {
    background-color: #ffe;
    border-style: none;
    border-top: 2px dotted #bfbf8f;
    color: #ffe;
    height: 1px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 100%;
  }
}
