@import './config';

.signature {
  &__grid {
    @include grid();
  }
  
  &__row {
    @include row();
  }
  
  &__col {
    @include columns(12);
  }

  &__header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  &__table {
    width: 100%;
    border: 1px solid #bfbf8f;
    border-collapse: collapse;
  }

  &__date {
    border: 1px solid #bfbf8f;
    width: 10%;
    padding: 0.5em;
  }

  &__name {
    border: 1px solid #bfbf8f;
    width: 20%;
    padding: 0.5em;
  }

  &__comment {
    border: 1px solid #bfbf8f;
    padding: 0.5em;
  }

  &__rowname {
    border: 1px solid #bfbf8f;
  }

  &__item {
    border: 1px solid #bfbf8f;
  }

  &__field {
    border: 1px solid #bfbf8f;
    padding: 0.5em;
  }
}